@tailwind base;
@tailwind components;
@tailwind utilities;




@media (min-width: 1024px) {
  .lg\:custom-style-bg {
    clip-path: polygon(0 6%, 100% 0%, 100% 92%, 0 100%);
  }
}
.section-3-bg {
  @apply bg-section3 p-16 mt-[-78px];
  clip-path: polygon(0 6%, 100% 0%, 100% 92%, 0 100%);
}

@media (min-width: 1024px) {
  .lg\:section-3-bg {
    @apply p-32;
    clip-path: polygon(0 6%, 100% 0%, 100% 92%, 0 100%);
  }
}
.inner-bg{
  clip-path: polygon(0 20%, 100% 0%, 100% 84%, 0% 100%);


}

.outer-bg{
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);

  rotate: ""

}

.scrolled {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  margin-top: 0;
 
}
