@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-style-bg{
  clip-path: polygon(0 6%, 100% 0%, 100% 92%, 0 100%);
}

.section-3-bg{
  clip-path: polygon(0 6%, 100% 0%, 100% 92%, 0 100%);
}

.inner-bg{
  clip-path: polygon(0 20%, 100% 0%, 100% 84%, 0% 100%);


}

.outer-bg{
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);

  rotate: ""

}

.scrolled {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  margin-top: 0;
 
}